.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    background-size: cover;
    display: flex;
  }
  .logo {
    
  }

  .header__.logo_place_header {
    width: 183px;
    height: 32px;
    margin-top: 30px;
    margin-right: 64px;
    position: absolute;

  }
  .header__title {
    width: 730;
    margin-left: 64px;
    display: flexbox;
  }

  .header__subtitle {

  }

  .header__limk {

  }
  .header__main-illustration {

  }
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
  }
  
  /* и элемента с модификатором вида ключ-значение */
  .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }
  